.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    text-align: right;
    justify-content: center;
    align-content: center;
    width: 40%;
}

.input input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
}